

body {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 15rem;
  background-image: radial-gradient(
      at 95% 95%,
      hsl(23, 100%, 30%),
      transparent 59%
    ),
    radial-gradient(at 5% 5%, hsl(188, 100%, 30%), transparent 55%);
}

.App {
  font-family: "Poppins", sans-serif;
}

